#Header {
  background-color: #f75990;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

#Column {
 column-count: 2;
 margin: 0 !important;
 padding: 0 !important;
 }

footer {
  text-align: center;
  background-color: #00DDFF;
  margin-bottom:0;
  }

h3 {
  margin-top: 0px
}

body {
 background-color: #fff685;
 margin: 0
}

head {
  margin: 0
}
  h1 {
    margin-top: 0
  }

  p {
    margin-bottom: 0
  }
